<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/data/jpa
      http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util.xsd">
      
      <!-- Enable usage of @Autowired. -->
	<context:annotation-config/>
	<!-- Enable component scanning for defining beans with annotations. -->
	<context:component-scan base-package="es.udc.fic.iFinances"/>
	

	<!-- 	xmlns:jpa="http://www.springframework.org/schema/data/jpa" --> 
	<!-- Data source. Tocado por mi Lino lo tiene con org.springframework.jdbc.datasource.DriverManagerDataSource -->
	<bean id="dataSource" 	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql://localhost/pojotest"/>
		<property name="username" value="pojo"/>
		<property name="password" value="pojo"/>
		<!-- <property name="suppressClose" value="true"/> -->
	</bean>
	
	
	<!--<jpa:repositories base-package="es.udc.fic.iFinances" /> -->

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="es.udc.fic.iFinances" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		 <property name="jpaProperties">
		    <props>
		      <prop key="hibernate.enable_lazy_load_no_trans">true</prop>
		      <prop key="hibernate.hbm2ddl.auto">update</prop>
		    </props>
		  </property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean id="persistenceExceptionTranslationPostProcessor" class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />





</beans>